<header class="main-header {% unless page.url == '/' or page.url == '/index.html' %}scrolled{% endunless %}">
    <div class="container">
        <a href="/index" class="logo">
            <img src="images/logo.png" alt="Jacent Labs Logo" class="logo-image logo-default">
            <img src="images/logo-white.png" alt="Jacent Labs Logo" class="logo-image logo-white">
            Jacent Labs
        </a>
        <nav class="main-nav">
            <ul>
                <li><a href="/software">Software</a></li>
                <li><a href="/investments">Investments</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
        <button class="hamburger-menu">
            <span class="hamburger-bar"></span>
            <span class="hamburger-bar"></span>
            <span class="hamburger-bar"></span>
        </button>
    </div>
</header>