<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="Jacent Labs" />
    <link rel="manifest" href="/site.webmanifest" />
</head>
<body class="{{ page.body_class }}">

    {% include header.html %}

    <main>
        {{ content }}
    </main>

    {% include footer.html %}

    <script src="js/script.js"></script>

    {% if page.url == "/" or page.url == "/index.html" %}
    <script src="js/starfield.js"></script>
    <script src="js/home-header.js"></script>
    {% endif %}

</body>
</html>